<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Movie Thumbs</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <header>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Movie Thumbs</a>
      <ul class="right hide-on-med-and-down">
            {{#if loggedIn}}

             <li><a href="/ToT" class="navbar-item is-hoverable pt-1">This or That</a></li>
             <li><a href="/lists">My List</a></li>
             <li><button id="logout" class="button is-danger">Logout</button></li>
            {{else}}
             <li><a href="/login">Sign In</a></li>
             <li><a href="#">Popular List</a></li>
            {{/if}}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Popular List</a></li>
        <li><a href="#">List</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
  
<main>
 {{{body}}}
</main> 

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li>
                <a class="white-text" href="/login">Sign In</a>
                {{!-- {{#if loggedIn}} --}}
                <a class="white-text" href="/ToT">This or That</a>
            </li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/GRech17">GitHub 1: Gabriel Reches </a></li>
            <li><a class="white-text" href="https://github.com/jchavezval">GitHub 2: Juan Chavez</a></li>
            <li><a class="white-text" href="https://github.com/cleanjenn">GitHub 3: Jennifer Gomez</a></li>
            <li><a class="white-text" href="https://github.com/emilychhun?tab=repositories">GitHub 4: Emily Chhun</a></li>
            <li><a class="white-text" href="https://github.com/davevebber">GitHub 5: Dave Vebber</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" >Project Team Buddies</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--script src="js/materialize.js"></script>
  <!--script src="js/init.js"></script-->

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}

  </body>
</html>
