<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">
          Like films you've watched. <br> 
          See what's popular. <br>
          Save those you want to see.</h1>
          <!-- <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div> -->
        <div class="row center">
          <a href="http:" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign up - It's Free!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/thumbs.png" alt="Unsplashed background img 1"></div>
  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 dark">
            Add a review. Add your favorites to your own list.<br>
            Enter Comments placecard here.
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/spilledpopcorn.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row" >
        <div class="col s12 center" id="poplist">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Popular List</h4>
          <p class="left-align light">Enter list of populated movies tab here</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/redseats.png" alt="Unsplashed background img 3"></div>
  </div>

    <main>
        {{{ body }}}
    </main>

 </body>
</html>