<div class="container">
    <div class="section">
        <table>
        <thead>
            <tr>
                <th>Liked Movies</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Zoolander</td>
            </tr>
            <tr>
                <td>ETC</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>    
