

<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment_body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">Add Comment</button>
  </div>
  
</form>


<div>
  {{#each posts as | post|}}
    <div>
    Movie id: {{movie_id}} Comment: {{post_content}} {{format_date created_at}} title: {{title}}
    </div>
  {{/each}}
</div>



<script src="/javascript/comment.js"></script>
