<!-- TO BE USED IN THE ACUTAL DASHBOARD PAGE -->
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            
            <div class="card col s12">
                <div class="card col s6">
                    <div class="card-image waves-effect waves-block waves-light">
                        {{!-- <img class="activator" src="images/office.jpg"> --}}
                    </div>
                    <div class="card-content">
                        {{#each displayed}}
                        {{#if @first}}
                        {{title}}
                        <br>
                        <img src=https://www.themoviedb.org/t/p/w150_and_h225_bestv2/{{poster_path}}>
                        {{/if}}
                        {{/each}}
                        <span class="card-title activator grey-text text-darken-4"><i
                                class="material-icons right">more_vert</i></span>
                            <button type="button" class="likeBtn">Like👍 </button>
                            <button type="button" class="dislikeBtn">Not a fan👎 </button>
                            <button type="button" class="watchBtn">Add to watch list✅</button>

                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Movie Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this movie that is only revealed once clicked on.</p>
                    </div>
                </div>

                <div class="card col s6">
                    <div class="card-image waves-effect waves-block waves-light">
                        {{!-- <img class="activator" src="images/office.jpg"> --}}
                    </div>
                    <div class="card-content">
                        {{#each displayed}}
                        {{#if @last}}
                        {{title}}
                        <br>
                        <img src=https://www.themoviedb.org/t/p/w150_and_h225_bestv2/{{poster_path}}>
                        {{/if}}
                        {{/each}}
                        <span class="card-title activator grey-text text-darken-4"><i
                                class="material-icons right">more_vert</i></span>
                            <button type="button" class="likeBtn">Love❤️</button>
                            <button type="button" class="dislikeBtn">Not a fan🚫</button>
                            <button type="button" class="watchBtn">Add to watch list</button>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Movie Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this movie that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>